# Test configuration
#
# Note: All is case sensitive at the moment.
#
# Paths:
# \EFI\plop\pbm6.cfg
# or
# \EFI\boot\pbm6.cfg


[Main]

# Countdown - Wait for booting with a countdown. 
# This can be used also with StartHidden.
# Valid values: true, false
# Default: false
#Countdown false
Countdown false


# CountdownValue - Wait number of secods to boot.
# Default: 10
#CountdownValue 10


# LastBootedOption - This will be set by the boot manager. It can be overwritten by
# Third Party Software.
#
# Examples:
#   LastBootedOption "Firmware/Boot0001"
#   LastBootedOption "Detected/Start Memtest"
#   LastBootedOption "MyBootOptions/Boot0001"


# DefaultBoot - Selected on boot manager start.
# This can be used also with StartHidden.
# Valid values: LastBootedOption, entry title
#
# Examples:
#   DefaultBoot LastBootedOption
#   DefaultBoot "Plop Linux"
#   DefaultBoot "Boot00001"
#
# Limited to Firmware:
#   DefaultBoot Firmware/Boot0001
#
# Limited to options in [MyBootOptions]:
#   DefaultBoot MyBootOptions/Boot0001
#
# From boot drive:
#   DefaultBoot \EFI\memtest.efi
#   DefaultBoot \EFI\grub\grubx64.efi


# StartScreen - Active screen on boot manager start.
# Valid values: Firmware, Detected, MyBootOptions
# Default: When there are entries in [MyBootOptions] - MyBootOptions
#          Else - Detected
#StartScreen Detected


# StartHidden - Hide boot manager.
# Valid values: true, false
# Default: false
#StartHidden false


# UnhideOnDeviceChange - Used in combination with StartHidden. Unhide the
# boot manager when the stored device list is different to the current device
# list. For example, you connect an additional USB drive. This would unhide
# the boot manager. Without the additional drive, the boot manager is not
# shown while booting.
# Valid values: true, false
# Default: false
#UnhideOnDeviceChange false


# UnhideOnKey - Used in combination with StartHidden. Unhide the boot manager
# when a key has been pressed.
# This can be used also with a countdown/countdown value.
# Valid values: any, ESC, none
# Default: any
#UnhideOnKey any


# FontWeight - Select boot manager font weight.
# Valid values: normal, bold
# Default: normal
#FontWeight normal


# ScreenHeight - Find resolution closest to this value.
# If you set a value of 1000, then the boot manager scans all 
# possible resolutions of your graphic card to find the closest 
# screen resolution. It prefer wide screen resolutions. 
# Depending on your graphic card it can end up for example in 
# 1024x768 or 1280x1024.
# The default value of 768 will find usually a resolution
# of 1024x768.
# Default: 768
#ScreenHeight 768


# BootScreenHeight - Set screen resolution on boot.
# When the value is set, then the boot manager set the closest
# resolution to this value on booting.
# Default: disabled
#BootScreenHeight 768


# Background - Currently not implemented.
# Valid values: none, Starfield
#Background Starfield




[MyBootOptions]

# Syntax:
# "TITLE" "PATH"
# "TITLE" "PATH" "PARAMETERS"
# "PATH"
# Note: The quotes are optional but needed to keep a space.
#
# Examples:
#   Wrong: Output of efibootmgr, but is not compatible  "MemTest Vbox HD" HD(1,GPT,0a71dc5a-53b0-4a99-81b7-3c548adda764)/File(\efi\memtest.efi)
#   Wrong: Output of efibootmgr, but is not compatible  MemTest HD(1,GPT,591b2b2f-1f74-42d7-a55e-a5eec36b418b,0x800,0x96000)/\EFI\memtest.efi
#   Wrong: Output of efibootmgr, but is not compatible  "Plop Linux" HD(1,GPT,591b2b2f-1f74-42d7-a55e-a5eec36b418b,0x800,0x96000)/\EFI\BOOT\bzImage "root=/dev/sda2"
#   Wrong: "\EFI\BOOT\bzImage root=/dev/sda2"
#
# Valid:
#"Plop Linux Live" \syslinux\kernel\bzImage initrd=\syslinux\kernel\initramfs.gz
#"MemTest" \EFI\memtest.efi
#"Plop Linux SDA2" HD(1,GPT,0a71dc5a-53b0-4a99-81b7-3c548adda764)/\plop\bzImage  "root=/dev/sda2"

# Firmware boot entry.
#Boot0001

# Firmware boot entry with custom title.
#"firmware cdrom" Boot0001

# Simple entry without title
#HD(1,GPT,0a71dc5a-53b0-4a99-81b7-3c548adda764)/\EFI\memtest.efi

# Simple entry without title.
#\EFI\memtest.efi



[KnownDevices]


